## .NET Core
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log

## Visual Studio
.vs/
*.user
*.suo

## Rider
.idea/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

## NuGet
*.nupkg
packages/

## Other
*.swp
*~
.DS_Store
