@page
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <div id="app">
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </div>
    <noscript>
        <div style="text-align: center; padding: 2rem; color: white;">
            <h1>JavaScript is required for this application.</h1>
            <p>Please enable JavaScript to use this Blazor application.</p>
        </div>
    </noscript>
    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
